.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom,rgba($color-black, .4),rgba($color-blue-dark, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 90% 80vh, 80% 95%, 70% 80vh, 60% 95%, 50% 80vh, 40% 95%, 30% 80vh, 20% 95%, 10% 80vh, 0 95%);

  &__logo-box {
    position: absolute;
    left: 4rem;
    top: 3.5rem;
    cursor: pointer;

    &:hover .header__logo {
      animation: spin 1s;
    }
  }

  &__logo {
    height: 10rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}